.header {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #2c7973;
  z-index: 1;
}

.header.active {
  animation: animateHeader 0.5s forwards;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  box-sizing: border-box;
  padding: 18px 20px;
}

.wrapper.active {
  animation: animateWrapper 0.5s forwards;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  * {
    font-family: 'Sen', sans-serif;
    margin: 0;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

@keyframes animateHeader {
  100% {
    height: 30px;
    background-color: #001c1d;
  }
}

@keyframes animateWrapper {
  100% {
    padding-top: 3px;
    padding-bottom: 0;
  }
}

@keyframes animateHeader {
  100% {
    height: 30px;
    background-color: #001c1d;
  }
}

@keyframes animateWrapper {
  100% {
    padding-top: 3px;
    padding-bottom: 0;
  }
}


