.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 300px;

  * {
    margin: 10px 0;
  }
}

.link {
  text-decoration: underline;
}

.button {
  margin-top: 30px;
}
