.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 300px;

  input {
    width: 100%;
  }
  .inputContainer {
    position: relative;
    margin: 10px 0;
  }
  .error {
    position: absolute;
    color: #ff4646;
    font-size: 13px;
    margin-top: 0px;
    font-family: Roboto;
    white-space: nowrap;
  }
}

.link {
  text-decoration: underline;
}

.button {
  margin-top: 30px;
}
